Repository chronoscio/backend, pull requests merged in 2018-09, with the labels that each got.

#17 Add date filter
  project/api/serializers.py
  project/api/tests.py
  project/api/views.py
Labels: kind/API, status/reviewed

#19 Automatically convert FeatureCollections of Polygons to a MultiPolygon object
  project/api/serializers.py
  project/api/tests.py
  project/api/views.py
Labels: kind/API, status/waits for review

#24 DipRel API Serializer
  project/api/migrations/0016_auto_20180914_0433.py
  project/api/models.py
  project/api/serializers.py
  project/api/tests.py
  project/api/urls.py
  project/api/views.py
Labels: kind/API, priority/critical, status/reviewed

#31 Added control for overlapping territory dates
  project/api/models.py
  project/api/tests.py
Labels: status/reviewed

#35 Add DB dump to documentation
  .gitignore
  CONTRIBUTING.md
  docs/DEVELOPER.md
  docs/example_db_dump.json
Labels: kind/documentation, status/reviewed

#36 Lookup/retrieve nations based on url_id instead of pk
  project/api/models.py
  project/api/serializers.py
  project/api/tests.py
Labels: kind/API, kind/enhancement, status/reviewed

#34 Ensure duplicate territory validation is only performed for territories of the same nation
  project/api/models.py
Labels: kind/bug, status/reviewed
